body{
	background-image: url(bg.jpg);
	background-repeat: repeat;

}

.container{
	text-align: center;
	padding-top: 50px;
	color:white;
}

.quote-box{
	border: 1px dashed white;
	border-radius: 15px;
	padding: 10px;
	margin-bottom: 15px;
}
